* {
    margin: 0px;
    padding: 0px;
}
body {
background: white;
height: 100%;
width: 100%;
}
.box {
    margin: auto;
    width: 250px;
    margin-top: 10px;
    text-align: center;
}
.title {
    margin-bottom: 20px;
}
.options p {
    background: black;
    display: initial;
    color: white;
    border-radius: 2px;
    padding: 12px;
    font-weight: bold;
}
p.p1 {
    position: absolute;
    left: 250px;
    top: 160px;
    width: 20px;
}
p.p1:hover {
background: gray;
cursor: pointer;
}
p.p2 {
    position: absolute;
    left: 50px;
    top: 160px;
    width: 20px;
}
p.p2:hover {
    background: gray;
    cursor: pointer;
}
h2 {
    color: white; 
    text-align: center;
   margin-top: 50px;
}
.heart  {
    color: red;
    font-weight: bold;
}
#oui {
    position: absolute;
    top: 250px;
    width: 160px;
    display: none;
    padding: 50px;
    left: 50px;
   background-image: url(./us.jpeg);
   background-repeat: no-repeat;
   background-position: center;
}